.footer-block {
  background: no-repeat bottom url(../images/elements.png);
  padding-top: 40px;
  padding-bottom: 280px;
  border-top: 1px solid rgba(252, 249, 249, 0.1);
}
@media screen and (min-width: 768px) {
  .footer-block {
    padding-bottom: 40px;
    background: no-repeat right url(../images/footer-background768.png);
  }
}
.footer-menu {
}
.footer-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .footer-list {
    flex-wrap: nowrap;
    margin-right: 20px;
    margin-bottom: 80px;
  }
  .footer-list:last-child {
    margin-right: 0;
  }
}
.footer-item {
  flex-basis: 100%/2;
  margin-right: 20px;
}
.footer-link {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  text-transform: uppercase;
}

.footer-title {
  font-size: 44px;
  font-weight: 400;
  line-height: 54px; /* 122.727% */
  letter-spacing: -1.32px;
}
@media screen and (min-width: 768px) {
  .footer-title {
    font-size: 54px;
    line-height: 64px; /* 118.519% */
    letter-spacing: -1.62px;
    width: 521px;
  }
}
@media screen (min-width: 768px) {
  .footer-title {
    font-size: 64px;

    line-height: 74px; /* 115.625% */
    letter-spacing: -1.92px;
  }
}
