/* header */
.header {
  height: 52px;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 5px;
}
.header-block {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  color: var(--text-color);

  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  width: 582px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  text-transform: uppercase;
}
.header-logo {
  width: 44px;
  height: 39px;
}
.header-nav_item {
  /* font-family: Manrope;
  font-size: 14px;
  line-height: 18px; /* 128.571% */
  /* text-transform: uppercase; */
  margin-right: 25px;
}
.header-nav_item:last-child {
  margin-right: 0;
}
.header-nav_link {
  color: var(--text-color);
}
.header-list {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header-list {
    display: flex;
    /* flex-direction: row; */
  }
}
.header-phone {
  display: none;
  margin-right: 20px;
  color: var(--text-color);
  padding: 14px 28px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
}
@media screen and (min-width: 1280px) {
  .header-phone {
    display: block;
  }
}
.header-buttons {
  display: flex;
  align-items: center;
}
.header-socialmedia {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 12px;
}
@media screen and (min-width: 768px) {
  .header-socialmedia {
    margin-right: 20px;
  }
}

.socialmedia-item {
  margin-right: 12px;
}
.socialmedia-item:last-child {
  margin-right: 0;
}
.socialmedia-link {
  display: flex;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 8px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
}
.header-mobmenu {
  width: 36px;
  height: 24px;
  padding: 0;
  color: var(--accent-color);
  background-color: var(--background-color);
}
@media screen and (min-width: 1280px) {
  .header-mobmenu {
    display: none;
  }
}

.mobmenu {
  position: fixed;
  background-color: #fff;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 5;
  padding: 24px 0 24px 20px;
}
.mobmenu .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobmenu-close {
}
